@*
 * SPDX-FileCopyrightText: Copyright Corsinvest Srl
 * SPDX-License-Identifier: AGPL-3.0-only
*@
@inherits AdminComponentBase

<RadzenDataGrid @ref="@DataGridRef"
                TItem="Data"
                Data="@ResultLoadData.Data"
                Count="@ResultLoadData.TotalCount"
                AllowFiltering="true"
                AllowColumnResize="true"
                AllowAlternatingRows="false"
                AllowSorting="true"
                AllowVirtualization="true"
                Style="height: calc(100vh - 140px);"
                FilterPopupRenderMode="PopupRenderMode.OnDemand"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                KeyDown="KeyDownAsync"
                LoadData="LoadDataAsync"
                AllowColumnPicking="true"
                CellClick="CellClick"
                RowSelect="RowSelectAsync"
                @bind-Value="@SelectedItems">
    <HeaderTemplate>
        <CrudToolbar OnAdd="AddAsync"
                     OnDelete="DeleteAsync"
                     OnRefresh="RefreshDataAsync"
                     DeleteDisabled="!SelectedItems.Any()">
            <TemplateAfter>
                <RadzenButton Variant="Variant.Text"
                              Size="ButtonSize.Small"
                              Text="@L["Download XLSX"]"
                              Click="DownloadAsync"
                              Icon="download"
                              Disabled="!SelectedItems.Any() || !SelectedItems[0].End.HasValue"
                              IsBusy="InDownload" />
            </TemplateAfter>
        </CrudToolbar>
    </HeaderTemplate>

    <EmptyTemplate>
        <EmptyExecuteAction Text="@L["Execute your first report"]"
                            Click="AddAsync"
                            Icon="play_arrow"
                            Style="--rz-icon-fill: 1;" />
    </EmptyTemplate>

    <Columns>
        <BaseColumn TItem="Data" Property="@nameof(Data.Id)" Title="@L["Id"]" ShowWatingFunc="ShowWating">
            <Template>
                <span class="rz-link link" style="text-decoration: underline;">@context.Id</span>
            </Template>
        </BaseColumn>
        <DateTimeLocalColumn Property="@nameof(Data.Start)" Title="@L["Start"]" SortOrder="SortOrder.Descending" OrderIndex="0" />
        <DateTimeLocalColumn Property="@nameof(Data.End)" Title="@L["End"]" Visible="false" />
        <RadzenDataGridColumn Property="@nameof(Data.Duration)" Title="@L["Duration"]" FormatString="{0:hh':'mm':'ss'.'fff}" />
    </Columns>
</RadzenDataGrid>
