@*
 * SPDX-FileCopyrightText: Copyright Corsinvest Srl
 * SPDX-License-Identifier: AGPL-3.0-only
*@
@inherits AHModuleOptionsBase<Options>

<PveOptionsModuleRender T="ModuleClusterOptions" Options="@Options">
    <Row>
        <MudGrid>
            <MudItem md="12">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <div class="d-flex gap-4">
                                <MudIcon Icon="@Icons.Material.Outlined.Schedule" />
                                <MudText>@L["Scheduling"]</MudText>
                            </div>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudGrid>
                            <MudItem xs="6" md="6">
                                <MudSwitch T="bool" @bind-Checked="@context.Enabled" Label="@L[GetDescriptionProperty(a => a.Clusters[0].Enabled)]"
                                           For="@(() => context.Enabled)" Color="Color.Primary" />
                            </MudItem>

                            <MudItem xs="6" md="6">
                                <MudNumericField T="int" @bind-Value="@context.MaxDaysLogs" Label="@L[GetDescriptionProperty(a => a.Clusters[0].MaxDaysLogs)]"
                                                 Variant="Variant.Text" />
                            </MudItem>

                            <MudItem xs="12" md="12">
                                <AHCronScheduler @bind-Expression="@context.CronExpression" ShowDescriptor Orientation="Orientation.Landscape" />
                           </MudItem>
                        </MudGrid>
                    </MudCardContent>
               </MudCard>
            </MudItem>
        </MudGrid>
    </Row>
</PveOptionsModuleRender>