@*
 * SPDX-FileCopyrightText: Copyright Corsinvest Srl
 * SPDX-License-Identifier: AGPL-3.0-only
*@
@inherits AdminComponentBase

<RadzenPanel>
    <RadzenRow>
        <RadzenColumn Size="12" SizeMD="6">
            <a name="#community"></a>

            <div style="text-align:center;">
                <RadzenImage Path="images/community.svg" AlternateText="community" Style="height:300px;" />
            </div>

            <RadzenText TextStyle="TextStyle.H4" TagName="TagName.H2" TextAlign="TextAlign.Center" class="rz-pt-8" Text="@L["Community Support"]" />
            <RadzenText TextAlign="TextAlign.Center">
                @L["Everybody is welcome to visit the"]
                <RadzenLink Text="cv4pve-admin Community." Path="https://github.com/Corsinvest/cv4pve-admin" Target="_blank" />
                @L["Join the growing community and participate in the discussions!"]
            </RadzenText>

            <RadzenText TextAlign="TextAlign.Center">
                @L["The Corsinvest team monitors but does not guarantee a response to every question. For guaranteed responses and more, you may consider the"]
                <RadzenLink Text="@L["Dedicated support"]" Path="#dedicated" /> @L["option"].
            </RadzenText>
        </RadzenColumn>

        <RadzenColumn Size="12" SizeMD="6">
            <a name="#dedicated"></a>

            <div style="text-align:center;">
                <RadzenImage Path="images/dedicated.svg" AlternateText="dedicated" Style="height:300px;" />
            </div>

            <RadzenText TextStyle="TextStyle.H4" TagName="TagName.H2" TextAlign="TextAlign.Center" class="rz-pt-8" Text="@L["Dedicated Support"]" />
            <RadzenText Text="@L["Corsinvest offers enterprise support with the subscriptions."]" TextAlign="TextAlign.Center" />
            <RadzenText TextAlign="TextAlign.Center">
                <a class="rz-button rz-button-lg rz-primary rz-m-4"
                   target="_blank"
                   href="@ApplicationHelper.UrlShopSubscription">@L["See Pricing"]</a>
            </RadzenText>
        </RadzenColumn>
    </RadzenRow>
</RadzenPanel>
