@*
 * SPDX-FileCopyrightText: Copyright Corsinvest Srl
 * SPDX-License-Identifier: AGPL-3.0-only
*@
@inherits AHComponentBase

<MudToolBar Style="@Style" Class="@Class">
    <MudButtonGroup Size="@Size">
        @ToolBarContent

        @if (CanChangeStatus)
        {
            @if (Vm.IsPaused)
            {
                <MudIconButton Title="@L["Resume"]" Icon="@Icons.Material.Filled.PlayArrow" Size="@Size" Color="Color.Success"
                               OnClick="@(() => ChageStatus(VmStatus.Resume))" />
            }
            else if (!Vm.IsRunning)
            {
                <MudIconButton Title="@L["Play"]" Icon="@Icons.Material.Filled.PlayArrow" Size="@Size" Color="Color.Success"
                               OnClick="@(() => ChageStatus(VmStatus.Start))" />
            }
        }

        @if (CanNoVnc)
        {
            <MudIconButton Title="@L["Console"]" Icon="@Icons.Material.Filled.DesktopWindows" Size="@Size"
                           Color="Color.Primary" OnClick="@OnShowConsole" />
        }

        @if (CanChangeStatus && Vm.IsRunning)
        {
            <MudButton OnClick="@(() => ChageStatus(VmStatus.Shutdown))" Size="@Size" Color="Color.Error">
                <div class="d-flex gap-2">
                    <MudIcon Icon="@Icons.Material.Filled.PowerSettingsNew" Color="Color.Error" />
                    <MudText Color="Color.Error">@L["Shutdown"]</MudText>
                </div>
            </MudButton>

            <MudMenu Icon="@Icons.Material.Filled.ArrowDropDown" Size="@Size" Color="Color.Error">
                <MudMenuItem OnClick="@(() => ChageStatus(VmStatus.Reboot))">
                    <div class="d-flex gap-2">
                        <MudIcon Icon="@Icons.Material.Filled.Refresh" />
                        <MudText>@L["Reboot"]</MudText>
                    </div>
                </MudMenuItem>

                <MudMenuItem OnClick="@(() => ChageStatus(VmStatus.Suspend))">
                    <div class="d-flex gap-2">
                        <MudIcon Icon="@Icons.Material.Filled.Pause" />
                        <MudText>@L["Pause"]</MudText>
                    </div>
                </MudMenuItem>

                <MudMenuItem OnClick="@(() => ChageStatus(VmStatus.Reset))">
                    <div class="d-flex gap-2">
                        <MudIcon Icon="@Icons.Material.Filled.FlashOn" />
                        <MudText>@L["Reset"]</MudText>
                    </div>
                </MudMenuItem>

                <MudMenuItem OnClick="@(() => ChageStatus(VmStatus.Stop))">
                    <div class="d-flex gap-2">
                        <MudIcon Icon="@Icons.Material.Filled.Stop" />
                        <MudText>@L["Stop"]</MudText>
                    </div>
                </MudMenuItem>
            </MudMenu>
        }
    </MudButtonGroup>
</MudToolBar>