@*
 * SPDX-FileCopyrightText: Copyright Corsinvest Srl
 * SPDX-License-Identifier: AGPL-3.0-only
*@
@inherits AdminComponentBase

<RadzenProfileMenu ShowIcon="false" Click="OnMenuClick">
    <Template>
        <div style="position: relative; display: inline-flex;">
            <RadzenIcon Icon="help_outline" Style="font-size: 1.5rem;" />
            @if (NewRelease != null)
            {
                <span style="position: absolute; top: 0; right: 0; width: 8px; height: 8px; background-color: #ff1744; border-radius: 50%;"></span>
            }
        </div>
    </Template>
    <ChildContent>
        <RadzenText TextStyle="TextStyle.Body2" Style="font-weight: bold;padding: 0 10px 0 10px;">@L["Your"] @AppSettings.AppName @L["version"] 🚀</RadzenText>
        <RadzenStack Style="padding: 0 0 5px 10px;" Orientation="Orientation.Horizontal">
            <RadzenText TextStyle="TextStyle.Body2" class="rz-text-secondary-color">
                @BuildInfo.Version

                <RadzenBadge Text="@BuildInfo.EditionFull" BadgeStyle="@(BuildInfo.IsEnterpriseEdition? BadgeStyle.Warning: BadgeStyle.Primary)" />
            </RadzenText>
        </RadzenStack>

        @if (NewRelease != null)
        {
            <RadzenLink Style="padding: 0 0 0 10px;" Path="@NewRelease.Url" Target="_blank">
                <RadzenBadge BadgeStyle="BadgeStyle.Info" Text="@L["Update available {0}", NewRelease.Version]" />
                <RadzenIcon Icon="open_in_new" IconColor="@Colors.Primary" Style="font-size: 0.9rem; margin-left: 2px; vertical-align: middle;" />
            </RadzenLink>
        }

        <hr class="solid">

        <RadzenProfileMenuItem Text="@L["Documentation"]" Icon="menu_book" Path="https://corsinvest.github.io/cv4pve-admin/" Target="_blank" />
        <RadzenProfileMenuItem Text="@L["Release notes"]" Icon="celebration" Value="@("release-notes")" />
        <RadzenProfileMenuItem Text="@L["Support"]" Icon="support_agent" Path="https://github.com/Corsinvest/cv4pve-admin/issues" Target="_blank" />

        <hr class="solid">

        <RadzenProfileMenuItem Text="@L["Keyboard Shortcuts"]" Icon="keyboard" Value="@("shortcuts")" />

        <hr class="solid">

        <RadzenProfileMenuItem Text="@L["Report a Bug"]" Icon="bug_report" Value="@("report-bug")" />
        <RadzenProfileMenuItem Text="@L["Request a Feature"]" Icon="auto_awesome" Path="@ApplicationHelper.FeatureRequestUrl" Target="_blank" />
        <RadzenProfileMenuItem Text="@L["Provide Feedback"]" Icon="feedback" Path="@ApplicationHelper.FeedbackUrl" Target="_blank" />
        <RadzenProfileMenuItem Text="@L["Who is using cv4pve-admin?"]" Icon="groups" Value="@("who-is-using")" />
    </ChildContent>
</RadzenProfileMenu>
