@*
 * SPDX-FileCopyrightText: Copyright Corsinvest Srl
 * SPDX-License-Identifier: AGPL-3.0-only
*@
@inherits AdminComponentBase

<RadzenDataGrid TItem="TokenRow"
                Data="@Items"
                AllowSorting="true"
                AllowFiltering="true"
                AllowColumnResize="true"
                AllowAlternatingRows="false"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                FilterPopupRenderMode="PopupRenderMode.OnDemand"
                RowRender="RowRender"
                @bind-Value="@SelectedItems">
    <HeaderTemplate>
        <CrudToolbar OnRefresh="RefreshAsync">
            <RadzenButton Variant="Variant.Text"
                          Size="ButtonSize.Small"
                          Text="@L["Effective Permissions"]"
                          Icon="security"
                          ButtonStyle="ButtonStyle.Primary"
                          Click="@(() => permissionsSummaryDialogService.ShowForAppTokenAsync(SelectedItems[0].Id, SelectedItems[0].Name))"
                          Disabled="!SelectedItems.Any()"
                          title="@L["Effective Permissions"]" />
            <RadzenButton Variant="Variant.Text"
                          Size="ButtonSize.Small"
                          Text="@L["Regenerate"]"
                          Icon="key"
                          ButtonStyle="ButtonStyle.Danger"
                          Click="RegenerateAsync"
                          Disabled="!SelectedItems.Any()"
                          title="@L["Regenerate"]" />
        </CrudToolbar>
    </HeaderTemplate>

    <Columns>
        <RadzenDataGridColumn TItem="TokenRow" Property="@nameof(TokenRow.Name)" Title="@L["Name"]" />
        <BoolIconColumn TItem="TokenRow" Property="@nameof(TokenRow.IsActive)" Title="@L["Is Active"]" IconFalse="" />
        <RadzenDataGridColumn TItem="TokenRow" Property="@nameof(TokenRow.CreatedAt)" Title="@L["Created At"]" FormatString="{0:g}" />
        <RadzenDataGridColumn TItem="TokenRow" Property="@nameof(TokenRow.ExpiresAt)" Title="@L["Expires At"]">
            <Template Context="row">
                @if (row.ExpiresAt.HasValue)
                {
                    @if (row.IsExpired)
                    {
                        <span style="color:var(--rz-danger)">@row.ExpiresAt.Value.ToString("g") (@L["Expired"])</span>
                    }
                    else
                    {
                        @row.ExpiresAt.Value.ToString("g")
                    }
                }
                else
                {
                    <span style="color:var(--rz-success)">@L["Never"]</span>
                }
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

