@*
 * SPDX-FileCopyrightText: Copyright Corsinvest Srl
 * SPDX-License-Identifier: AGPL-3.0-only
*@
@using Radzen.Blazor.Rendering

@inherits AdminComponentBase

<RadzenStack Orientation="Orientation.Vertical" class="rz-w-100">
    <RadzenFormField Text="@Label" AllowFloatingLabel="false" class="rz-w-100">
        <Start>
            <RadzenIcon Icon="schedule" />
        </Start>
        <ChildContent>
            <RadzenTextBox @ref="TextBoxRef"
                           Name="@Id"
                           Value="@Expression"
                           ValueChanged="@(async (string value) => { Expression = value; await UpdateAsync(); })"
                           @onclick="@ToggleAsync"
                           MouseEnter="ShowTooltip" />
        </ChildContent>
        <Helper>
            <RadzenCustomValidator Component="@Id" Validator="@(() => IsValid)" Text="@L["Cron syntax not valid!"]" />
        </Helper>
    </RadzenFormField>
</RadzenStack>

<Popup @ref="PopupRef"
       Lazy="true"
       Style="display: none; position: absolute; width: min-content;" class="rz-panel"
       AutoFocusFirstElement="false"
       Open="@(() => PopupIsVisible = true)"
       Close="@(() => PopupIsVisible = false)">
    <SchedulerEditor CronExpression="@Expression"
                     CronExpressionChanged="@(async (string value) => { Expression = value; await UpdateAsync(); })" />

    <hr />

    <RadzenText TextStyle="TextStyle.Subtitle2"><strong>@L["Schedule:"]</strong> @Descriptor </RadzenText>
    <RadzenText TextStyle="TextStyle.Subtitle2"><strong>@L["Next occurrence:"]</strong> @NextOccurrence</RadzenText>
</Popup>

@code {
    private void ShowTooltip(ElementReference elementReference)
    {
        if (PopupIsVisible) { return; }

        TooltipService.Open(elementReference, _ =>
            @<div>
                    <div><strong>@L["Schedule:"]</strong> @Descriptor</div>
                    <div><strong>@L["Next occurrence:"]</strong> @NextOccurrence</div>
                </div>);

            }
}
