@*
 * SPDX-FileCopyrightText: Copyright Corsinvest Srl
 * SPDX-License-Identifier: AGPL-3.0-only
*@
@inherits AdminComponentBase

@typeparam TModule

@if (JobSchedule.Enabled)
{
    @if (JobSchedule.CronExpressionIsValid)
    {
        <div style="align-content: end">
            <InfoIcon>
                @* <RadzenText TextStyle="TextStyle.Caption"> *@
                @L["Next Execution"] : @($"{JobSchedule.CronNextExecution:g}") <br />
                @JobSchedule.CronExpressionDescriptor
                @* </RadzenText> *@
            </InfoIcon>
        </div>
    }
}
else
{
    <RadzenButton Size="ButtonSize.Small"
                  Text="@L["Activate schedulation"]"
                  class="animate__animated animate__pulse animate__infinite"
                  Click="OpenSettingsAsync"
                  Shade="Shade.Light"
                  ButtonStyle="ButtonStyle.Warning"
                  title="@L["Activate schedulation"]"
                  aria-label="@L["Activate schedulation"]" />
}
