@*
 * SPDX-FileCopyrightText: Copyright Corsinvest Srl
 * SPDX-License-Identifier: AGPL-3.0-only
*@
@typeparam TModule where TModule : ModuleBase

<Overview3Cols Icon1="@Icon1" Title1="@Title1" Block1="@Block1" Content1="@Content1"
               Icon2="@Icon2" Title2="@Title2" Block2="@Block2" Content2="@Content2"
               Icon3="@Icon3" Title3="@Title3" Block3="@Block3" Content3="@Content3" />

@if (Tiles.Count > 0)
{
    <div class="rz-mt-4">
        <RadzenTileLayout Columns="@GridCols"
                          RowHeight="@RowHeightPx"
                          Gap="10">
            @foreach (var tile in Tiles)
            {
                <RadzenTileLayoutItem Col="@tile.Col"
                                      Row="@tile.Row"
                                      ColSpan="@tile.ColSpan"
                                      RowSpan="@tile.RowSpan">
                    <DynamicComponent Type="@tile.Type" Parameters="@tile.Parameters" />
                </RadzenTileLayoutItem>
            }
        </RadzenTileLayout>
    </div>
}
