@*
 * SPDX-FileCopyrightText: Copyright Corsinvest Srl
 * SPDX-License-Identifier: AGPL-3.0-only
*@
<!--
    Corisnvest Srl
    https://corsinvest.it/cv4pve-admin
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="@navigationManager.BaseUri" />
    <link rel="stylesheet" href="@Assets["css/site.css"]" />
    <link rel="stylesheet" href="@Assets["css/cv4pve.css"]" />
    <link rel="stylesheet" href="@Assets["/lib/animate.css/animate.min.css"]" />
    <link rel="stylesheet" href="@Assets["/lib/materialdesign-webfont/css/materialdesignicons.min.css"]" />

    @*     <link rel="icon" type="image/png" href="favicon.png" /> *@
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <ImportMap />

    <RadzenTheme Theme="@ApplicationHelper.ThemeName" Wcag="true" @rendermode="@PageRenderMode" />
    <HeadOutlet @rendermode="@PageRenderMode" />
</head>

<body>
    <Routes @rendermode="@PageRenderMode" />

    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
    <script src="/js/cv4pve.js"></script>
</body>
</html>
