@*
 * SPDX-FileCopyrightText: Copyright Corsinvest Srl
 * SPDX-License-Identifier: AGPL-3.0-only
*@
@inherits AHComponentBase

<AHDataGrid T="AutoSnapJobHook"
            Permissions="Module.Permissions.Job.Data"
            FixedHeader="true"
            FixedFooter="true"
            DataGridManager="DataGridManager"
            Filterable="true"
            Groupable="true"
            ShowFilterIcons="false"
            Height="@Height"
            FilterCaseSensitivity="DataGridFilterCaseSensitivity.CaseInsensitive"
            ShowColumnOptions="false"
            MultiSelection="true">
    <ToolBarContent>
        <AHDataGridToolBarCrud T="AutoSnapJobHook" DataGridManager="DataGridManager" />
    </ToolBarContent>
    <Columns>
        <SelectColumn T="AutoSnapJobHook" ShowInFooter="false" />

        <AHPropertyColumn T="AutoSnapJobHook" TProperty="int" Property="a => a.Id" />

        <AHPropertyColumn T="AutoSnapJobHook" TProperty="bool" Property="a => a.Enabled">
            <CellTemplate>
                <MudCheckBox Value="@context.Item.Enabled" ReadOnly="true" />
            </CellTemplate>
        </AHPropertyColumn>

        <AHPropertyColumn T="AutoSnapJobHook" TProperty="string" Property="a => a.Description" />
        <AHPropertyColumn T="AutoSnapJobHook" TProperty="int" Property="a => a.Order" />
        <AHPropertyColumn T="AutoSnapJobHook" TProperty="Corsinvest.ProxmoxVE.AutoSnap.Api.HookPhase" Property="a => a.Phase" />
        <AHPropertyColumn T="AutoSnapJobHook" TProperty="string" Property="a => a.Url" />
        <AHPropertyColumn T="AutoSnapJobHook" TProperty="AutoSnapJobHookHttpMethod" Property="a => a.HttpMethod" />

        <TemplateColumn T="AutoSnapJobHook" CellClass="justify-end" Sortable="false">
            <CellTemplate>
                <MudButtonGroup Variant="Variant.Text">
                    <AHDataGridColumnEdit T="AutoSnapJobHook" DataGridManager="DataGridManager" Context="@context" />
                </MudButtonGroup>
            </CellTemplate>
        </TemplateColumn>
    </Columns>

    <EditTemplate>
        <MudGrid>
            <MudItem md="4">
                <MudTextField Value="@context.Id"
                              Label="@(L[GetDescriptionProperty<AutoSnapJobHook>(a => a.Id)])"
                              For="@(() => context.Id)"
                              ReadOnly="true" />
            </MudItem>

            <MudItem md="4">
                <MudSwitch @bind-Value="@context.Enabled"
                           Label="@(L[GetDescriptionProperty<AutoSnapJobHook>(a => a.Enabled)])"
                           For="@(() => context.Enabled)"
                           Color="Color.Primary" />
            </MudItem>

            <MudItem md="4">
                <MudNumericField @bind-Value="@context.Order"
                                 Label="@(L[GetDescriptionProperty<AutoSnapJobHook>(a => a.Order)])"
                                 For="@(() => context.Order)" />
            </MudItem>

            <MudItem md="12">
                <MudTextField @bind-Value="@context.Description"
                              Label="@(L[GetDescriptionProperty<AutoSnapJobHook>(a => a.Description)])"
                              For="@(() => context.Description)" />
            </MudItem>

            <MudItem md="6">
                <MudSelectExtended @bind-Value="@context.Phase"
                                   ItemCollection="@(Enum.GetValues<Corsinvest.ProxmoxVE.AutoSnap.Api.HookPhase>())"
                                   Label="@(L[GetDescriptionProperty<AutoSnapJobHook>(a => a.Phase)])"
                                   Required="true"
                                   For="@(() => context.Phase)" />
            </MudItem>

            <MudItem md="6">
                <MudSelectExtended @bind-Value="@context.HttpMethod"
                                   ItemCollection="@(Enum.GetValues<AutoSnapJobHookHttpMethod>())"
                                   Label="@(L[GetDescriptionProperty<AutoSnapJobHook>(a => a.HttpMethod)])"
                                   Required="true"
                                   For="@(() => context.HttpMethod)" />
            </MudItem>

            <MudItem md="6">
                <MudTextField @bind-Value="@context.Username"
                              Label="@(L[GetDescriptionProperty<AutoSnapJobHook>(a => a.Username!)])"
                              For="@(() => context.Username)" />
            </MudItem>

            <MudItem md="6">
                <MudPasswordField T="string" @bind-Value="@context.Password"
                                  Label="@L[GetDescriptionProperty<AutoSnapJobHook>(a =>  a.Password!)]"
                                  For="@(() => context.Password)" />
            </MudItem>

            <MudItem md="6">
                <div class="d-flex gap-2 ">
                    <MudSelectExtended @bind-Value="@HookEnv" ItemCollection="@Environments" Label="@L["Hook environment"]" />
                    <MudIconButton Icon="@Icons.Material.Filled.ContentCopy" OnClick="OnClickHookEnvAsync" />
                </div>
            </MudItem>

            <MudItem md="6">
                <MudSwitch @bind-Value="@context.DataIsKeyValue"
                           Label="@(L[GetDescriptionProperty<AutoSnapJobHook>(a => a.DataIsKeyValue)])"
                           For="@(() => context.DataIsKeyValue)"
                           Color="Color.Primary" />
            </MudItem>

            <MudItem md="12">
                <MudTextField @bind-Value="@context.Data"
                              Label="@(L[GetDescriptionProperty<AutoSnapJobHook>(a => a.Data)])"
                              For="@(() => context.Data)"
                              Lines="5" />
            </MudItem>


            <MudItem md="12">
                <MudTextField @bind-Value="@context.Url"
                              Label="@(L[GetDescriptionProperty<AutoSnapJobHook>(a => a.Url)])"
                              For="@(() => context.Url)" />
            </MudItem>
        </MudGrid>
    </EditTemplate>

    <NoRecordsContent>
        <AHNoRecordsContent />
    </NoRecordsContent>

    <LoadingContent>
        <AHLoadingContent />
    </LoadingContent>

    <PagerContent>
        <MudDataGridPager T="AutoSnapJobHook" />
    </PagerContent>
</AHDataGrid>