@*
 * SPDX-FileCopyrightText: Copyright Corsinvest Srl
 * SPDX-License-Identifier: AGPL-3.0-only
*@
@inherits AHComponentBase

<Corsinvest.ProxmoxVE.Admin.Core.UI.Components.InfoCalculateSnapshots />
 
<MudTabs Elevation="1" ApplyEffectsToContainer Border>
    <MudTabPanel Text="@L["Tasks"]" Icon="@Icons.Material.Filled.Task">
        <Jobs /> @*Height="calc(100vh - 295px)"*@
    </MudTabPanel>

    <MudTabPanel Text="@L["Timeine"]" Icon="@Icons.Material.Filled.Timeline">
        <div class="ma-5">
            <Timeline />
        </div>
    </MudTabPanel>

    <MudTabPanel Text="@L["Errors"]" Icon="@Icons.Material.Filled.Error">
        <Histories ShowOnlyError Height="calc(100vh - 365px)" />
    </MudTabPanel>

        <MudTabPanel Text="@L["Status"]" Icon="@Icons.Material.Filled.List">
        <Status VmIdsOrNames="" Height="calc(100vh - 315px)" />
    </MudTabPanel>
</MudTabs>