@*
 * SPDX-FileCopyrightText: Copyright Corsinvest Srl
 * SPDX-License-Identifier: AGPL-3.0-only
*@
@inherits AHComponentBase

@if (Data != null)
{
    <MudTimeline Class="@Class" Style="@Style">
        @foreach (var tasks in Data)
        {
            <MudTimelineItem Color="@(tasks.Any(a => !a.Status) ? Color.Warning : Color.Success)" Size="Size.Medium" Elevation="5">
                <ItemDot>
                    @tasks.Count()
                </ItemDot>

                <ItemContent>
                    <MudExpansionPanels Dense="true">
                        <MudExpansionPanel Text="@tasks.Key.ToShortDateString()">
                            <ChildContent>
                                @foreach (var labels in tasks.GroupBy(a => a.Job))
                                {
                                    <MudExpansionPanels DisableBorders="true" Elevation="0">
                                        <MudExpansionPanel Dense="true">
                                            <TitleContent>
                                                <div class="d-flex">
                                                    <MudText Class="mt-1">
                                                        @labels.Key.Label - @labels.Key.CronExpressionDescriptor
                                                    </MudText>
                                                    <MudBadge Content="@labels.Count()" Color="@(tasks.Any(a => !a.Status) ? Color.Warning : Color.Success)"
                                                  Overlap="true" Class="d-flex ml-auto">
                                                        <MudIcon Icon="@PveBlazorHelper.Icons.Snapshot" Color="Color.Default" />
                                                    </MudBadge>
                                                </div>
                                            </TitleContent>

                                            <ChildContent>
                                                <MudSimpleTable Dense="true" Hover="true" FixedHeader="true" Style="height: 200px;" Elevation="0">
                                                    <thead>
                                                        <tr>
                                                            <th>@L["Status"]</th>
                                                            <th>@L["Start"]</th>
                                                            <th>@L["Duration"]</th>
                                                            <th>@L["Size"]</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in labels.OrderByDescending(a => a.Start))
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <AHBoolIcon Value="item.Status" ColorTrue="Color.Success" ColorFalse="Color.Error"
                                                                IconType="AHBoolIconType.Thumb" />
                                                                </td>

                                                                <td>@item.Start.ToString("HH:mm:ss")</td>
                                                                <td>@item.Duration</td>
                                                                <td>0b</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </MudSimpleTable>
                                                <br />
                                            </ChildContent>
                                        </MudExpansionPanel>
                                    </MudExpansionPanels>
                                }
                            </ChildContent>
                        </MudExpansionPanel>
                    </MudExpansionPanels>
                </ItemContent>
            </MudTimelineItem>
        }
    </MudTimeline>
}