@*
 * SPDX-FileCopyrightText: Copyright Corsinvest Srl
 * SPDX-License-Identifier: AGPL-3.0-only
*@
@inherits AHComponentBase

<div class="d-flex gap-2">
    <MudText><strong>@L["Last day:"]</strong></MudText>

    <div class="d-flex gap-2">
        <MudText>@CountOk</MudText>
        <AHBoolIcon IconType="AHBoolIconType.Thumb" Value ColorTrue="Color.Success" ColorFalse="Color.Error" />

        <MudText>@CountKo</MudText>
        <AHBoolIcon IconType="AHBoolIconType.Thumb" Value="false" ColorTrue="Color.Success" ColorFalse="Color.Error" />
    </div>
</div>

<MudText><strong>@L["Last:"]</strong> @Last</MudText>