@*
 * SPDX-FileCopyrightText: Copyright Corsinvest Srl
 * SPDX-License-Identifier: AGPL-3.0-only
*@
@using Corsinvest.ProxmoxVE.Api.Shared.Models.Node

@inherits AHComponentBase

<style>
    .selected {
        background-color: var(--mud-palette-primary) !important;
    }

        .selected > td {
            color: white !important;
        }

            .selected > td .mud-input {
                color: white !important;
            }
</style>

<AHDataGrid T="NodeTask"
            Permissions="Permissions"
            DataGridManager="DataGridManager"
            Elevation="0"
            FixedHeader="true"
            FixedFooter="true"
            Filterable="true"
            RowClick="RowClick"
            RowClassFunc="RowClassFunc"
            Groupable="true"
            ShowFilterIcons="false">
    <ToolBarContent>
        <AHDataGridToolBarRead T="NodeTask" DataGridManager="DataGridManager">
            <ToolBarContentBefore>
                <MudIconButton Icon="@Icons.Material.Filled.Info" Title="@L["Info"]" OnClick="TaskShowDetailLogAsync"
                               Disabled="@(!DataGridManager.ExistsSelection)" />

                @if (OnlyErrors.HasDelegate)
                {
                    <MudSwitch T="bool" CheckedChanged="OnlyErrors" Color="Color.Error" Label="@L["Only errors"]" />
                }
            </ToolBarContentBefore>
        </AHDataGridToolBarRead>
    </ToolBarContent>

    <Columns>
        @foreach (var item in PropertiesName)
        {
            <DynamicComponent Type="@GetDynamicType(item)" Parameters="GetDynamicParameters(item)" />
        }
    </Columns>

    <NoRecordsContent>
        <AHNoRecordsContent />
    </NoRecordsContent>

    <LoadingContent>
        <AHLoadingContent />
    </LoadingContent>

    <PagerContent>
        <MudDataGridPager T="NodeTask" />
    </PagerContent>
</AHDataGrid>

<MudDialog IsVisible="@DialogVisible"
           Style="width:80%;"
           Options="new DialogOptions { CloseButton = false, CloseOnEscapeKey = false, DisableBackdropClick=true, MaxWidth = MaxWidth.Large }">
    <TitleContent>
        <div class="d-flex gap-4">
            <MudIcon Icon="@Icons.Material.Filled.TaskAlt" />
            <MudText>
                @L["Task Viewer:"] @DataGridManager.SelectedItem.DescriptionFull
            </MudText>
        </div>
    </TitleContent>

    <DialogContent>
        <MudTextField T="string" Lines="20" Text="@Logs" ReadOnly Style="margin-top: 0px;" />
    </DialogContent>

    <DialogActions>
        <MudButton Variant="Variant.Filled" OnClick="@(() => DialogVisible = false)" Color="Color.Primary">@L["Close"]</MudButton>
    </DialogActions>
    </MudDialog>